﻿<!DOCTYPE html>

<html>
<head>
    <!-- Access your static content from your root route "assets" directory.           -->
    <!-- Static files must be located in a wwwroot directory in your plugin directory. -->
    <!-- This example would be located at the full path:                               -->
    <!-- http://<ip address>:5000/igor/plugins/myigorplugin/assets/css/styles.css      -->
    <!-- Notice the use of the % in place of the typical ASP.NET Core MVC ~ character. -->
    <!-- This provides the same benefit as the ~ but is intended to work with the Igor -->
    <!-- Framework.                                                                    -->
    <link rel="stylesheet" type="text/css" href="%/assets/css/styles.css">
</head>
<body>
<div>
    My plugin web UI.
    <br/>
    <p>
        Use the query string "echo" to pass data from your controller: /hello?echo=world
    </p>
    <p>
        @ViewData["echo"]
    </p>
</div>
</body>
</html>